header {
    background-color: $black;
    padding: 20px 0;

    .header-top {
        
        justify-content: right;
        margin-bottom: 20px;

        & li {
            margin-right: 15px;
        }
        & i {
            color: $primary-col;
        }

        & span {
            color: $tertiary-col;
        }

        & option {
            color: $tertiary-col;
        }    
    }

    .header-bottom {
        img {
            flex-basis: 10%;
        }
        ul {
            flex-basis: 80%;
            justify-content: space-around;
            padding-top: 13px;
        }
        & a {
            color: $white;
        }
        & i {
            color: $tertiary-col;
            position: relative;
            top: 1px;
        }

    }
}