main {
    
    .first-section {
        width: 100%;
        height: 500px;
        background-image: url('../../img/hero-painteressentials-7.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -388px;

        .box-left {
            flex-basis: 25%;
        }
        .box-center {
            flex-basis: 40%;
            padding: 40px 0;
            color: $white;
            line-height: 40px;

            ul {
                display: block;
                margin-bottom: 30px;

                & i {
                    color: $tertiary-col;
                    margin-right: 8px;
                }
            }
            button i {
                font-size: 30px;
            }
        }
        .box-right {
            flex-basis: 35%;
            background-color: $black;
            padding: 20px 10px 40px 10px;

            .download{
                justify-content: space-between;
                align-items: center;

                .price {
                    color: $white;
                    font-size: 30px;
                }
                .scarica {
                    color: #666;
                }
            }
            .limited {
                font-size: 16px;
            }
        }
    }// end first section
    .second-section {
        background-color: #e6e6e6;

        & li {
            padding: 15px 30px;
            
            &:hover {
              background-color: #fff;
              opacity: 0.6;
              padding: 15px 30px; 
        }
        & a {
            color: $tertiary-col;
            &:hover {
                color: $black;
            }
            }
        }
    } // end second section
    .third-section {
        height: 1020px;
        background-image: url(../../img/intro.jpg);
        
        .title {
            text-align: center;
            padding: 80px 60px 20px 60px;
            color: $white;
            
        }
        .quick {
            justify-content: center;

            span {
                color: $white;
                font-size: 18px;
                bottom: 15px;
                position: relative;
            }
        }
        .donna {
            height: 530px;
            position: relative;
            
            img {
                border: 30px solid $black;
                border-bottom: 0;
                border-radius: 20px 20px 0 0;
                
            }
            i {
                position: absolute;
                bottom: 10%;
                left: 50%;
                font-size: 100px;
                color: $white;
            }
            i:hover {
                color: $tertiary-col;
            }
        }
    }
} // end main