main {
    .fifth-section {
        height: 1000px;
        background-image: url(../../img/image-02.jpg);
        background-position-y: -400px;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}