.container-small {
    width: 1170px;
    margin: 0 auto;
}
ul {
    display: flex;
}
li {
    list-style: none;  
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
}
.mb {
    margin-bottom: 10px;
}
.mr {
    margin-right: 10px;
}
.mt {
    margin-top: 20px;
}
.tu {
    text-transform: uppercase;
}
.btn-first-section {
    padding: 10px 20px;
    background-color: #666;
    border-color: #666;
    color: $white;
    cursor: pointer;
}