// COLORI
$white: #fff;
$black: #000;

$primary-col: #009cff;
$secondary-col: #333333;
$tertiary-col: #777777;
$quaternary-col: #33334c;


// FONT
$base-font: 14px;
$base-family: 'Noto Sans JP', sans-serif;